[Unit]
Description=simple HTTP Proxy

[Service]
Type=simple
Restart=on-failure
RestartSec=5
User=root
WorkingDirectory=/app
ExecStart=/app/taco

[Install]
WantedBy=network-online.target